/* ========== TASK ========== */

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background-color: #fff;
  color: #212121;
}

.gallery {
  display: grid;
  width: 1200px;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}

/* Lightbox */
.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) var(--timing-function);
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox__content {
  transform: scale(0.95);
  transition: transform var(--animation-duration) var(--timing-function);
}

.lightbox.is-open .lightbox__content {
  transform: scale(1);
}

.lightbox__image {
  display: block;
  width: auto;
  height: auto;
  max-height: 100vh;
  max-width: 100vw;
}

.lightbox__button {
  position: absolute;
  top: 10px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--timing-function);
  outline: none;
  background-image: url('./images/icon-close.svg');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.lightbox__button:hover,
.lightbox__button:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

/* ========== додаткові кнопки ========== */

.prevBtn, .nextBtn {
  position: absolute;
  top: 50%;
  left: -15%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 35px;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: lawngreen;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--timing-function);
  outline: none;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}
.prevBtn:hover,
.prevBtn:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.nextBtn {
  left: 110%;
}
.nextBtn:hover,
.nextBtn:focus {
  background-color: rgba(0, 0, 0, 0.5);
}



















/* ========== Спливання події ========== */

/* #parent, #child, #inner-child {
  margin: 1rem;
  padding: 16px;
  outline: 1px solid #FFC107;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

#parent {
  background-color: #673AB7;
}

#child {
  background-color: #448AFF;
}

#inner-child {
  background-color: #009688;
} */



/* ========== Делегування ==========  */

/* body {
  font-family: Roboto, sans-serif;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 8px;
  background-color: #fff;
  list-style: none;
}

.btn {
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 3px;
  padding: 0 1.5em;
  vertical-align: top;

  margin: 4px;
  font-size: 15px;
  line-height: 2.8;
  font-family: inherit;
  color: #222;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;

  background-color: #fff;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;

  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, box-shadow 0.3s, opacity 0.3s, color 0.3s;
}

.btn:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn.active {
  color: #fff;
  background-color: #2196f3;
} */





/* ========== Intersection Observer API ========== */

/* .box {
  width: 400px;
  height: 400px;
  font-size: 128px;
  text-align: center;
  line-height: 400px;
  color: #fff;
  margin-bottom: 64px;
}

.box:nth-child(1) {
  background-color: #3f51b5;
}
.box:nth-child(2) {
  background-color: #ff5722;
}
.box:nth-child(3) {
  background-color: #00bcd4;
}
.box:nth-child(4) {
  background-color: #ff4081;
} */





/* ========== ліниве завантаження зображеннь ========== */

/* .feed {
  list-style: none;
}

.feed li:not(:last-child) {
  margin-bottom: 32px;
}

.feed img {
  transform: translateX(-50%);
  opacity: 0;
  transition: all 500ms linear;
  width: 640px;
  height: 480px;
  object-fit: cover;
  border-radius: 5%;
}

.feed img.appear {
  transform: translateX(0);
  opacity: 1;
} */
